<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Bootstrap core CSS -->
	<link href="/static/dist/css/bootstrap.css" rel="stylesheet">
	<title>{% block title %}{% endblock %} - Account Tracking</title>
	{% block customer_head %}{% endblock%}
  </head>
  <body>
	<div id="index">
	  <ol class="breadcrumb">
		<li><a id="home_tab" name="home_tab" href="/">home</a></li>
		<li><a id="upload_tab" name="upload_tab" href="/upload">upload</a></li>
		<li><a id="search_tab" name="search_tab" href="/search">search</a></li>
		{% if user.username == "admin" %}
		<li><a id="script_tab" name="script_tab" href="/script">script</a></li>
		<li><a id="profile_tab" name="profile_tab" href="/profile">profile</a></li>
		<li><a id="history_tab" name="history_tab" href="/history">history</a></li>
		<li><a id="users_tab" name="users_tab" href="/users">users</a></li>
		{% endif %}
		<li><a id="logout_tab" name="logout_tab" href="/logout">logout</a></li>
	  </ol>
	</div>
	<div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
