{% extends "base.html" %}

{% block title %}edit{% endblock %}

{% block content %}
<form class="form", action="" method="post">
  {% for column in columns %}
  {% if column.type == "text" %}
  <div class="row">
	<div class="col-md-3">
	  <label> {{column.name}} </label>
	</div>
	<div class="col-md-3">
	  <input type="text" class="form-control" id="{{column.name}}_text" name="{{column.name}}_text" value="{{column.value}}">
	</div>
  </div>
  {% elif column.type == "multichoice" %}
  <div class="row">
	<div class="col-md-3">
	  <label> {{column.name}} </label>
	</div>
	<div class="col-md-3">
	  {% for choice in column.choices %}
	  <label class="checkbox">
		<input type="checkbox" id="{{column.name}}_choices" name="{{column.name}}_choices" value="{{choice.name}}"
			   {% if choice.checked == "true" %}
			   checked="true"
			   {% endif %}
			   > {{choice.name}}
	  </label>
	  {% endfor %}
	</div>
  </div>
  {% elif column.type == "textarea" %}
  <div class="row">
	<div class="col-md-3">
	  <label> {{column.name}} </label>
	</div>
	<div class="col-md-3">
	  <textarea class="form-control" id="{{column.name}}_textarea" name="{{column.name}}_textarea">{{column.value}}</textarea>
	</div>
  </div>
  {% else %}
  <div class="row">
	<label> unsupport type, {{columns.type}}, {{columns.name}} </label>
  </div>
  {% endif %}
  {% endfor %}
  <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
