{% extends "base.html" %}

{% block title %}edit{% endblock %}

{% block content %}
<form class="form", action="" method="post">
  {% for column in columns %}
  {% if column.type == "text" %}
  <div class="row">
	<div class="col-md-3">
	  <label> {{column.name}} </label>
	</div>
	<div class="col-md-3">
	  <input type="text" class="form-control" id="{{column.name}}_text" name="{{column.name}}_text" value="{{column.value}}">
	</div>
  </div>
  {% elif column.type == "boolean" %}
  <div class="row">
	<div class="col-md-3">
	  <label> {{column.name}} </label>
	</div>
	<div class="col-md-3">
	  <select class="form-control", id="{{column.name}}_boolean" name="{{column.name}}_boolean">
		<option>not set</option>
		<option
		   {% if column.value == "Yes" %}
		   selected="selected"
		   {% endif %}
		   >
		  Yes
		</option>
		<option
		   {% if column.value == "No" %}
		   selected="selected"
		   {% endif %}
		   >
		  No
		</option>
	  </select>
	</div>
  </div>
  {% elif column.type == "time" %}
  <div class="row">
	<div class="col-md-3">
	  <label> {{column.name}} </label>
	</div>
	<div class="col-md-3">
	  <input type="date" class="form-control" id="{{column.name}}_time" name="{{column.name}}_time" value="{{column.value}}">
	</div>
  </div>
  {% elif column.type == "time_event" %}
  <div class="row">
	<div class="col-md-3">
	  <label> {{column.name}} </label>
	</div>
	<div class="col-md-3">
	  <select class="form-control", id="{{column.name}}_time_event_option" name="{{column.name}}_time_event_option">
		<option>not set</option>
		<option
		   {% if column.checked == "Yes" %}
		   selected="selected"
		   {% endif %}
		   >
		  Yes
		</option>
		<option
		   {% if column.checked == "No" %}
		   selected="selected"
		   {% endif %}
		   >
		  No
		</option>
	  </select>
	</div>
	<div class="col-md-3">
	  <input type="date" class="form-control" id="{{column.name}}_time_event_date" name="{{column.name}}_time_event_date" value="{{column.timestr}}">
	</div>
  </div>
  {% elif column.type == "textarea" %}
  <div class="row">
	<div class="col-md-3">
	  <label> {{column.name}} </label>
	</div>
	<div class="col-md-3">
	  <textarea class="form-control" id="{{column.name}}_textarea" name="{{column.name}}_textarea">{{column.value}}</textarea>
	</div>
  </div>
  {% else %}
  <div class="row">
	<label> unsupport type, {{columns.type}}, {{columns.name}} </label>
  </div>
  {% endif %}
  {% endfor %}
  <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
