{% extends "base.html" %}

{% block title %}history{% endblock %}

{% block content %}
<form role="form" action="" method="post" enctype="multipart/form-data">
  <div class="form-group">
	<div class="row">
	  <div class="col-md-1">
		<label for="primary_key">{{primary_key}}</label>
	  </div>
	  <div class="col-md-2">
		<input type="text" class="form-control" id="primary_key_text" name="primary_key_text">
	  </div>
	  <div class="col-md-2">
		<button type="search" class="btn btn-default" id="primary_key_search" name="primary_key_search">Search</button>
	  </div>
	</div>
  </div>
</form>

{% endblock %}
