<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	    <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
		<script type="text/javascript">
		  setInterval("refresh_status_and_info();",3000);
		  function refresh_status_and_info(){
		  $('#status_and_info').load(location.href + ' #status_and_info');
		  }
		</script>
	<title> life cycle maintain </title>

	<!-- Bootstrap core CSS -->
	<link href="/static/dist/css/bootstrap.css" rel="stylesheet">

  </head>

  <body>

	<form role="form" action="" method="post" enctype="multipart/form-data">
	  <div class="form-group">
		<label for="insert_file">insert_file</label>
		<input type="file" id="insert_file" name="insert_file">
	  </div>
	  <div class="checkbox">
		<label>
		  <input type="checkbox" id="update" name="update" value="update"> update
		</label>
	  </div>
	  <button type="submit" class="btn btn-default" id="submit" name="submit">Submit</button>
	</form>

	<p></p>
	<div id="status_and_info">
	  <textarea class="form-control" rows="8">{{status_and_info}}</textarea>
	</div>
  </body>
</html>
