{% extends "base.html" %}

{% block title %}script{% endblock %}

{% block customer_head%}
<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
<script type="text/javascript" src="/static/js/highcharts.js"></script>
<script>
$(function () {
$('#container').highcharts({
chart: {
type: 'bar'
},
title: {
text: 'Fruit Consumption'
},
xAxis: {
categories: ['Apples', 'Bananas', 'Oranges']
},
yAxis: {
title: {
text: 'Fruit eaten'
}
},
series: [{
name: 'Jane',
data: [1, 0, 4]
}, {
name: 'John',
data: [5, 70, 3]
}]
});
});
</script>
{% endblock %}

{% block content %}
<h1> hello world </h1>
<p></p>
<div id="container" style="width:50%; height:50%;"></div>
<!-- <div id="container"></div> -->
{% endblock %}
