{% extends "base.html" %}
{% block title %}search{% endblock %}
{% block content %}
<form class="form", action="" method="post">
  {% for item in items %}
  {% if item.type == "text" %}
  <div class="row">
	<div class="col-md-3">
	  <label> {{item.name}} </label>
	</div>
	<div class="col-md-3">
	  <select class="form-control", id="{{item.name}}_option", name="{{item.name}}_option">
		{% for option in item.options %}
		<option>{{option}}</option>
		{% endfor %}
	  </select>
	</div>
	<div class="col-md-3">
	  <input type="text" class="form-control" id="{{item.name}}_text" name="{{item.name}}_text">
	</div>
  </div>
  {% else %}
  <div class="row">
	<label> unsupport type, {{item.type}}, {{item.name}} </label>
  </div>
  {% endif %}
  {% endfor %}
  <div class="radio">
	<label>
	  <input type="radio" name="script_radio" id="no_script" value="no_script" checked>
	  no script
	</label>
  </div>
  {% for script in scripts %}
  <div class="radio">
	<label>
	  <input type="radio" name="script_radio" id="{{script}}" value="{{script}}">
	  using {{script}}
	</label>
  </div>
  {% endfor %}
  <button type="submit" class="btn">Search</button>
</form>
{% endblock %}
