{% extends "base.html" %}

{% block title %}script{% endblock %}

{% block customer_head%}
<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
<script type="text/javascript" src="/static/js/highcharts.js"></script>
<script>
  {% for graph in graphs %} 
  $(function () {
  $('#{{graph.graph_name}}_container').highcharts({
  chart: {
  type: '{{graph.graph_type}}'
  },
  title: {
  text: '{{graph.graph_name}}'
  },
  {% if graph.graph_type != "pie" %}
  xAxis: {
  categories: [
  {% for member in graph.members %}
  '{{member.name}}',
  {% endfor %}
  ]
  },
  {% endif %}
  series: [{
  {% if graph.graph_type == "pie" %}
  data: [
  {% for member in graph.members %}
  {
  name: '{{member.name}}',
  y: {{member.value}}
  },
  {% endfor %}
  ]
  {% else %}
  data: [
  {% for member in graph.members %}
  {{member.value}},
  {% endfor %}
  ]
  {% endif %}
  }]
  });
  });
  {% endfor %}
</script>
{% endblock %}

{% block content %}

{% for graph in graphs %}
<div id="{{graph.graph_name}}_container" style="width:50%; height:50%;"></div>
<p></p>
{% endfor %}

{% endblock %}
