{% extends "base.html" %}

{% block title %}users{% endblock %}

{% block content %}
<form role="form" action="/users?action=create" method="post">
  <div class="row">
	<div class="col-md-1">
	  <label for="username">username</label>
	</div>
	<div class="col-md-1">
	  <input type="text" class="form-control" id="username_text" name="username_text">
	</div>
  </div>
  <div class="row">
	<div class="col-md-1">
	  <label for="password">password</label>
	</div>
	<div class="col-md-1">
	  <input type="password" class="form-control" id="password_text" name="password_text">
	</div>
  </div>
  <button type="submit" class="btn btn-default" id="create_submit" name="create_submit">create</button>
</form>

{% for username in usernames %}
<p></p>
<div class="row">
  <div class="col-md-1">
	<label> {{username}} </label>
  </div>
  {% if username != "admin" %}
  <div class="col-md-1">
	<form role="form" action="/users?action=delete&username={{username}}" method="post">
	  <button type="submit" class="btn btn-default" id="delete_{{username}}_submit" name="delete_{{username}}_submit">delete</button>
	</form>
  </div>
  {% endif %}
</div>
{% endfor %}
{% endblock %}
